TinyCat/TinyCat-core/src/main/resources/META-INF/tinycat.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns="http://tinycat.wc.org/schema/tinycat"
            targetNamespace="http://tinycat.wc.org/schema/tinycat"
            elementFormDefault="qualified">

    <xsd:import namespace="http://www.w3.org/XML/1998/namespace"/>
    <xsd:import namespace="http://www.springframework.org/schema/beans"/>
    <xsd:import namespace="http://www.springframework.org/schema/tool"/>

    <xsd:annotation>
        <xsd:documentation>![CDATA[TinyCat Namespace Support]]</xsd:documentation>
    </xsd:annotation>

    <xsd:complexType name="refAttribute">
        <xsd:attribute name="ref" type="xsd:string" use="required"/>
    </xsd:complexType>

    <xsd:complexType name="abstractBeanAttribute">
        <xsd:attribute name="name" type="xsd:string" use="optional" default="">
            <xsd:annotation>
                <xsd:documentation>![CDATA[Bean name]]</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ref" type="xsd:string" use="optional" default="">
            <xsd:annotation>
                <xsd:documentation>![CDATA[Bean ref]]</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:complexType name="abstractAcceptor">
        <xsd:attribute name="port" type="xsd:string" use="optional" default="">
            <xsd:annotation>
                <xsd:documentation>![CDATA[port]]</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="type" type="xsd:string" use="optional" default="">
            <xsd:annotation>
                <xsd:documentation>![CDATA[protocol type]]</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:complexType name="filterAttribute">
        <xsd:complexContent>
            <xsd:extension base="abstractBeanAttribute">
                <xsd:attribute name="url-pattern" type="xsd:string" use="optional" default="">
                    <xsd:annotation>
                        <xsd:documentation>![CDATA[url-pattern]]</xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="parameterType">
        <xsd:attribute name="consoleEncoding" type="xsd:string"/>
        <xsd:attribute name="maxThreads" type="xsd:string"/>
        <xsd:attribute name="type" type="xsd:string"/>
    </xsd:complexType>

    <xsd:element name="acceptors">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="acceptor" maxOccurs="unbounded">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="filters" minOccurs="0" maxOccurs="1">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="filter" type="filterAttribute" minOccurs="0"
                                                     maxOccurs="unbounded"/>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="attribute" type="parameterType"/>
                            <xsd:element name="handler" type="refAttribute"/>
                        </xsd:sequence>
                        <xsd:attribute name="name" type="xsd:string" use="required">
                            <xsd:annotation>
                                <xsd:documentation>![CDATA[name]]</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="port" type="xsd:string" use="required">
                            <xsd:annotation>
                                <xsd:documentation>![CDATA[port]]</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                        <xsd:attribute name="type" type="xsd:string" use="required">
                            <xsd:annotation>
                                <xsd:documentation>![CDATA[protocol type]]</xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>